
@{
    ViewBag.Title = "添加博文";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-color:#ffffff">
    <div class="form-group">
        <label for="title">主题</label>
        <input type="text" class="form-control" id="title" placeholder="主题">
    </div>
    <div class="form-group">
        <label for="introduce">简介</label>
        <input type="text" class="form-control" id="introduce" placeholder="简介">
    </div>
    <div id="context">
        <p>添加内容</p>
    </div>
    <button type="button" class="btn btn-success" id="btn1">提交</button>
    <button type="button" class="btn btn-danger" id="btn2">重置</button>
</div>
@section scripts{
    <script src="~/Scripts/wangEditor.min.js"></script>
    <script>
        var E = window.wangEditor
        var editor = new E('#context')
        editor.customConfig.showLinkImg = false
        editor.customConfig.uploadImgShowBase64 = true
        editor.create()

        document.getElementById('btn1').addEventListener('click', function () {
            // 读取 html
            var mytitle = $("#title").val();
            var myintroduce = $("#introduce").val();
            var mycontext = editor.txt.html();
            mycontext=  encodeURIComponent(mycontext);
            $.post("@Url.Action("Add","Manage")", { title: mytitle, introduce: myintroduce, context: mycontext }, function (data) {
                if (data) {
                    alert("添加成功跳转主页");
                    window.location = "@Url.Action("Index","Home")";
                } else {
                    alert("添加失败");
                }       
            });
        }, false)

        document.getElementById('btn2').addEventListener('click', function () {
            // 读取 html
            $("#title").val("");
            $("#introduce").val("");
            editor.txt.html("");
            
        }, false)

    </script>
}